[Desktop Entry]
Version=1.0
Type=Application
Icon=/home/foo.bar/igv.ico
Comment=IGV Software
Terminal=false
Categories=Applications;IGV
Name=IGV 2.3
Exec=/usr/lib/jvm/java-8-oracle/jre/bin/javaws -localfile -J-Djnlp.application.href=http://data.broadinstitute.org/igv/projects/current/igv_lm.jnlp /home/foo.bar/.java/deployment/cache/6.0/9/14dc80c9-331344bd
Encoding=UTF-8
