[Desktop Entry]
Version=1.0
Type=Application
Icon=/home/ueb/.java/deployment/cache/6.0/35/442040a3-1e81535d.ico
Comment=IGV Software
Terminal=false
Categories=Applications;IGV
Name=IGV 2.3
Exec=/usr/lib/jvm/java-8-oracle/jre/bin/javaws -localfile -J-Djnlp.application.href=http://broadinstitute.org/igv/projects/current/igv_lm.jnlp /home/ueb/.java/deployment/cache/6.0/53/16689f75-17adf86a
Encoding=UTF-8
